{% extends 'base.html' %}
{% block content %}

     <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

  <script>
    var timeFormat = 'HH:MM';
    var config = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ actualdata|safe }},
          borderColor: "red",
          label: 'Actual',
            fill: false
        },
        {
          data: {{ prediction|safe }},
          borderColor: "blue",
          label: 'Prediction',

            fill: false
        }],
        labels: {{ time|safe }}
      },
      options: {
      scales: {
          xAxes: [{
              type: 'time',
              time: {
                  format: "HH:mm",

              }
          }]
      },
      elements: {
                point:{
                    radius: 0
                }
      }
        }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
    {% endblock %}
