/* #divForm {
	height: 400px;
	
	overflow-y: scroll;
} */
#mydiv2 {
	height: 400px;
	/* max-height: 400px; */
	overflow-y: scroll;
}

.key {
	font-weight: bold;
	font-size: medium;
}
.buySellid > p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
