#divForm {
	height: 400px;
	/* max-height: 400px; */
	overflow-y: scroll;
}

.key {
	font-weight: bold;
	font-size: medium;
}

.PL {
	/* display: flex;
	flex-direction: row;
	justify-content: space-evenly; */
	background: red;
}
